@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-Bold.otf");
  font-weight: 800;
}
