@use "bootstrap/dist/css/bootstrap.rtl.min.css";
@use "variables" as *;
@use "fonts" as *;
@use "global" as *;
@use "swiper" as *;
@use "loader" as *;
@use "header" as *;
@use "footer" as *;
@use "project-box" as *;
@use "home" as *;

#app {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.app-main {
  margin-top: 112px;
}
