<div class="swiper-slide">
  <div class="project-card">
    <img src="{{image}}" alt="Project 1" />
    <div class="card-body">
      <h6 class="card-title">{{title}}</h6>
      <div class="card-subtitle mb-2 text-muted">
        <span class="project-views"> {{ loadSvg('view.svg') }}15 مشاهدة</span>
      </div>
      <p class="card-text">{{content}}</p>
      <div class="d-flex justify-content-end">
        <a href="#" class="card-link">عرض المزيد {{ loadSvg('angle-left.svg') }}</a>
      </div>
    </div>
  </div>
</div>
